* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.4s linear;
}

:root {
  --white: #cbeeed;
  --black: #07252d;
  --black-tr: #07252d76;
  --blue: #03bcf4;
  --blue-tr: #03bcf464;
}

body {
  background: var(--black);
  font-size: 16px;
  font-family: 'Comfortaa', cursive;
  overflow-x: hidden;
}

.main-wrap {
  display: flex;
  align-items: center;
  height: 45vh;
}

.main-body {
  margin-top: 2rem;
}

.main-head{
  position: sticky;
  top: 0;
  width: 100vw;
  padding-top: 1.25rem;

  text-align: center;
  text-transform: uppercase;
  letter-spacing: .375rem;
  font-size: 1.6em;
  line-height: .75em;

  -webkit-box-reflect: below 1px linear-gradient(transparent, var(--black-tr)) ;

  animation: light 2s ease-in-out infinite;
}

@keyframes light {
  from {
    color: var(--black);
    text-shadow: none;
  }
  to {
    color: var(--white);
    text-shadow: 
    0 0 10px var(--blue),
    0 0 20px var(--blue),
    0 0 40px  var(--blue),
    0 0 80px  var(--blue),
    0 0 160px var(--blue);
  }
}


.films-list {
  display: grid;
  width: 90vw;
  margin: auto;
  
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(10, minmax(6rem, 9rem));
  gap: 1.25em;
}

.films-card {
  position: relative;
  text-align: center;
  border-radius: .33em;
  background-size: contain;
  overflow: hidden;
  background: #5fd0bd;
}

.films-card:hover {
  border: 1px solid  var(--blue);
}

.film-card-img {
  filter: blur(1em);
}

.films-card--title {
  display: block;
  position: absolute;
  top: .4rem;
  left: 0;
  right: 0;

  font-weight: 900;
  font-size: 1.1em;

  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;

  text-shadow: 
    0 0 10px  var(--blue),
    0 0 20px  var(--blue),
    0 0 40px  var(--blue),
    0 0 80px  var(--blue),
    0 0 160px var(--blue);

  color: var(--white);
}

.film-card-btns {
  position: absolute;
  bottom: -1.5rem;
  left: 0;
  right: 0;
  padding: 0 .6rem;
}

.films-card:hover > .film-card-btns {
  bottom: .4rem;
}

.films-card:focus-within > .film-card-btns {
  bottom: .4rem;
}

.film-card-btns > a:nth-child(1){
  float: left;
}

.film-card-btns > a:nth-child(2){
  float: right;
}

.btn {
  padding: .25em .5em;

  text-decoration: none;
  text-transform: uppercase;
  border: none;

  cursor: pointer;

  font-size: 0.8em;
  border-radius: .3em;
  letter-spacing: 1px;
  font-weight: 700;

  color: var(--white);
  text-shadow: 0 0 10px var(--blue-tr);
  background: var(--black);
  margin: 0 0.3rem;
}

.btn:hover {
  text-shadow: 0 0 10px var(--blue);
}

.btn:focus {
  text-shadow: 0 0 10px var(--blue);
  outline: 1px solid var(--blue);
}

.tab-wrap {
  width: 40vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: white;
}

.tab-elements {
  min-height: 50vh;
  background: rgb(26, 177, 203);
  padding: .5em 1em;
}

.player-wrap {
  position: relative;
  background: var(--blue);
  border-radius: .5em;
}

.player-wrap--image {
  filter: blur(.4em);
}

.player-play {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  border-radius: 50%;

  box-shadow: 
  0 0 10px var(--blue-tr),
  0 0 20px var(--blue-tr),
  0 0 40px var(--blue-tr),
  0 0 80px var(--blue-tr);

  cursor: pointer;
}

.player-play:hover {
  box-shadow: 
  0 0 10px var(--blue),
  0 0 20px var(--blue),
  0 0 40px var(--blue),
  0 0 80px var(--blue);

  fill: var(--black);
}

.modal-background {
  position: absolute;

  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  background: var(--black-tr);
}

.modal-player {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  min-height: 240px;

  padding: 30px;
  padding-bottom: 50px;

  border-radius: .4em;
  background: var(--white);
}

.player-video-modal {
  display: block;
  margin: 0 auto;
  border-radius: .4em;
}

.player-modal-close {
  position: absolute;
  top: .33em;
  right: -.5em;


  width: 2em;
  height: 2em;
}

.player-modal-close::after,
.player-modal-close::before  {
  position: absolute;
  top: .5em;

  display: block;
  content: '';

  cursor: pointer;

  width: 1em;
  height: .25em;

  background: var(--black);
}

.player-modal-close::after{
  transform: rotate(-45deg);
}

.player-modal-close::before{
  transform: rotate(45deg);
}

.modal-toggle-wrap {
  display: flex;
  align-items: center;
  justify-content: space-around;
  
  position: absolute;
  bottom: 5px;
  right: 30px;

  width: 80px;
  height: 30px;

  padding: 3px 0 0 5px;

  border-radius: 5px;
  background: var(--blue);
}

.modal-toggle-wrap:hover, 
.modal-toggle-wrap:focus-within {
  box-shadow: 
  0 0 10px var(--blue-tr),
  0 0 20px var(--blue-tr),
  0 0 40px var(--blue-tr),
  0 0 80px var(--blue-tr);
}

.modal-toggle-size, 
.modal-toggle-time {
  cursor: pointer;
}
